
* {
  margin: 0;
  padding: 0;
  font-family: verdana;
}
.clear {
    clear: both;
}

body { overflow-x: hidden;  }


#top-nav {
    margin: 0;
    width: 100%;
    height: 65px;
    position: fixed;
/* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    /* Adds the transparent background */
    background-color: rgba(1, 1, 1, 1);
    background: rgb(68,68,68);

}
#top-nav span {
    position: absolute;
    bottom: 5px;
    padding-right: 5px;
    text-align: right;
    width: 97%;
    color: #222;

}
#top-nav span a {
    padding: 5px 5px 5px 5px;
    background: gray;
    text-decoration:none;


}

#top-nav h1 {
    position: absolute;
    bottom: 0px;
    padding: 5px 5px 5px 15px;
    font-size: 50px;
    color: rgb(181,181,181);

}
#top-nav span a:visited{
    color: rgb(181,181,181);
    text-decoration:none;

}
#top-nav span a:hover{
    color: white;
    text-decoration:none;

}

#Feed{
    width: 50%;
    height: 100%;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    float: left;

}

#Status{
    padding-top: 15px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: -5px;

    border-bottom:solid gray;
    border-bottom-width:1px;
}
.status_box{
    width: 70%;
    font-size: 18px;
    height: inherit;
    vertical-align: middle;
    resize: none;

}
.status_button{
    background: rgb(68,68,68);
    vertical-align: middle;
    color: rgb(181,181,181);
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    border: 0;
}
.status_button:hover{
    color: white;
    text-decoration:none;
}

.Name{
    color: rgb(59,89,152);
    vertical-align: top;
    text-decoration: none;
    padding-top: 3px;
}

.Name:hover{
    text-decoration: underline;
}

.post{
    font-size: 14px;
    padding-top: 10px;


}
#status-post{
    float: left;
    margin-left: 10px;
}

#status-sec{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    border-bottom:solid gray;
    border-bottom-width:1px;
}

#status-sec img{
    float:left;
}