




#container{
	height: 75%;
	font-size: 18px;
}

#left-side-bar{
	background: transparent;

	min-width: 320px;
	
}

#Main-Content{
	background: transparent;
	width: 65%;
	text-align: left;
	padding-left: 50px;

}

#login{
	font-size: 18px;
	text-align: right;

}

#login input{
	margin: 5px 5px 5px 5px;
	padding: 8px 8px 8px 8px;


}
/*#Main-Content{
	
	text-align: center;
	background: transparent;
	
}*/
