
#left-side-bar{

	background: transparent;
	height: 75%;
	
}

#container{
   min-width:1000px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:100px;             /* As IE ignores !important it will set width as 1000px; */
   display: inline-block;
}

#Main-Content{
	
	text-align: center;
	font-size: 18px;
	background: transparent;
	height: 75%;
	text-align: right;
	
}
#reg-block{
	font-size: 18px;
	text-align: right;

}

#reg-block input{
	margin: 5px 5px 5px 5px;
	padding: 8px 8px 8px 8px;


}

#extra-info{
	position: relative;
	text-align: right;

	padding: 10px 10px 10px 10px;
	padding-right: 30%;
	padding-top: 50px;
}
#extra-info input,select{
	margin: 5px 5px 5px 5px;
	padding: 8px 8px 8px 8px;
}