#autocomplete{
	width: 300px;
	
	background: gray;
	z-index: 10000;
	position: fixed;
	overflow: auto;
	overflow-x:hidden; 
	text-align: left;
	border-bottom:solid white;
    border-bottom-width:1px;
    border-radius: 2px;
}

#autocomplete a,br{
	display: block;
    height: 100%;
    width: 100%;
	font-size: 14px;
	color: orange;
	text-decoration: none;


}
#autocomplete a:hover{
	text-decoration: underline;
}

.autocomplete-section{
	padding: 5px 5px 5px 5px;
	border-bottom:solid white;
    border-bottom-width:1px;
    width: 300px;
}