
* {
  margin: 0;
  padding: 0;
  font-family: Calibri;;
}
.clear {
    clear: both;
}

body ,html{
        min-width: 1100px;
        width: auto;
         overflow-x: hidden;
        background-image:url('../images/gradient_texture.png');
  /*       background: gray;
            background-image: -webkit-linear-gradient(left, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
            */


}

/*#background-grad{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -o-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, rgb(54,52,52)),
        color-stop(0.9, rgb(163,163,163))
        );
}*/

#top-nav {
    margin: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 55px;
    position: fixed;
    /* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    /* Adds the transparent background */
    background: rgb(68,68,68);
    background-image: linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -o-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, rgb(54,52,52)),
        color-stop(0.9, rgb(163,163,163))
        );
/*    background-image:url('../images/3040.jpg');
background-repeat:repeat-x;*/
float: left;
    min-width: 600px;
    white-space: nowrap;
    background: white;
    z-index: 100;
}
.minwidth { min-width:600px; width: auto !important; width: 600px; }
#left-top-nav{
    width: 25%;
    height: 100%;
 display: inline-block;
    float: left;

}
#center-top-nav{
    width: 50%;
    float: left;
        height: 100%;
         display: inline-block;

}
#right-top-nav{
    width: 25%;
 display: inline-block;
    height: 100%;
    float: left;
}
#top-nav span {
    display:inline-block;    
    padding-right: 5px;
    width: 100%;
    padding-top: 15px;
    padding-left: 75px;
    color: #222;

}
a{
/*  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .5s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property 
  transition:color .2s ease-out, background 1s ease-in;
  */
}

#reply-box{
    display: none;
}

#top-nav a{
    background: gray;
}


#top-nav span a,i {
    padding: 5px 5px 5px 5px;
    text-decoration:none;
    color: white;
    border-radius: 3px;


}



#top-nav i{

    background: gray;
}



#logo{
    /*padding-left: 25px;
    padding-top: 10px;*/
    height: inherit;
}

#logo img,object{
    float: left;
    padding-left: 10px;

}
#logo h1 {
    padding-top: 15px;
    vertical-align: middle;
    font-size: 16px;
    color: black;
    width: auto;
    letter-spacing: 2px;
    display:inline-block; 

}
#top-nav span a:visited{
    color: white;
    text-decoration:none;

}
#top-nav span a:hover{
    background: orange;
    color: white;
    text-decoration:none;

}

#container{
    margin-top: 100px;
    width: 100%;
}

#left-side-bar{
    float: left;
    width: 15%;
    height: 100%;


}
#Main-Content{


    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
    background: #707070;
    background: gray;
/*    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;*/
    border-radius: 10px;
    background: white;
}

#Status{
    padding-top: 15px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: -5px;

    border-bottom:solid gray;
    border-bottom-width:1px;
}
.status_box{

    width: 70%;
    font-size: 18px;
    height: inherit;
    vertical-align: middle;
    resize: none;
    padding: 7px 10px;
       -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;

}
.status_button{
    background: gray;
    vertical-align: middle;
    color: white;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    border-style:solid;
    border-width:small;
    margin-left: 10px;
    border-radius: 5px;

}
.status_button:hover{
    color: white;
    background: orange;
    text-decoration:none;
}

.Name{
    color: black;
    vertical-align: top;
    text-decoration: none;
    padding-top: 3px;

}

.Name:hover{
    text-decoration: underline;
}

.post{
    font-size: 14px;
    padding-top: 10px;


}
#status-post{
    float: left;
    margin-left: 10px;
    border-radius: 5px;
}

#Status-sec{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    border-bottom:solid orange;
    border-radius: 0px;
    border-bottom-width:0px;
    margin: 0;
    background: rgb(92,92,92);
    background: white;
}

#status-sec{
    padding: 10px 10px 10px 10px;
}

#status-sec img{
    float:left;
}
#status-sec p{
    color: black;
}

#Votes{
    float: right;
    padding-top: 5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 5px;
    background: gray;
    text-align: center;
}

#Votes i{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;

}
#Votes i:hover{
    color: orange;
}
#Votes p{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}



#search-area{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;

}

#search-area input{
    margin-right: 0;
    padding-right: 0;

}
#search-area a,i{
    text-decoration: none;


}

.search_box{
    font-size: 18px;
    width: 60%;
}

.onoffswitch {
    position: relative; width: 129px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 5px 5px 5px 5px;
    float: right;
}

#top-nav a:hover{
    background: orange;
}

#top-nav ul a:hover {
    background: gray;

}

#Main-Content #reply-sec{
    text-align: left;
}

