
body{
		/*background-image: none;*/

}
#container{
	height: 75%;
	font-size: 18px;
}

#left-side-bar{
	/*background: white;*/

	min-width: 320px;
	
}

#Main-Content{
	/*background: white;*/
    background: transparent;
	text-align: right;
	-webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;

}

/*#Main-Content{
	
	text-align: center;
	background: transparent;
	
}*/
#reg-block{
	font-size: 18px;
	text-align: right;

}

#reg-block input{
	margin: 5px 5px 5px 5px;
	padding: 8px 8px 8px 8px;


}
#profile-pic{
	text-align: right;
	padding-bottom: 10px;
}
#extra-info{
	position: relative;
	text-align: right;

	padding: 10px 10px 10px 10px;
	padding-right: 30%;
	padding-top: 50px;
}
#extra-info input,select{
	margin: 5px 5px 5px 5px;
	padding: 8px 8px 8px 8px;
}