<html>
<head>
<link rel="stylesheet" href="../static/styles/base.css" type="text/css" />
</head>
<body>
	<div id="top-nav">
		<h1>uPlace</h1>
        <span>
            <a href="#">Feed</a>
            <a href="#">Profile</a>
            <a href="#">Settings</a>
        </span>
	</div>
	<div id="Feed">
		<div id="Status">
			<form action="#">
				  <textarea class="status_box" type="text" name="status" ></textarea>
				  <input class="status_button" type="submit" value="Post!">
			</form>
		</div>
		<div id="Status-Feed">
			<div id="Status-sec">
				<img src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/14805_10151469493508969_1668933023_n.jpg" height="52" width="52">
				<div id="status-post">
					<a class="Name" href="#">Kevin Carbone</a></br>
					<p class="post">First post on uPlace!</p>
				</div>
				<div id="Votes">
				<div class="clear"></div>
				</div>
			</div>



		</div>
	</div>
</body>
</html>