<html>
<title>uPlace</title>
<head>
	<script src="../static/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="../static/styles/base2.css" type="text/css" />
	<link rel="stylesheet" href="../static/styles/login.css" type="text/css" />
	<link rel="stylesheet" href="../static/styles/font-awesome.css" type="text/css" />

</head>
<body>
		<div id="top-nav">
		<div id="logo">
			<h1>uPlace</h1>
				<img src="/static/images/logo2.svg" height="60px" width="100px">
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div id="container">

	<div id="left-side-bar">
		<div id="login">
		<form action="login" method="post">
		Email/Username: <input type="text" name="UserName"><br>
		Password: <input type="password" name="Password"><br>
		<input type="submit" value="Login" class="status_button">
		</form>
		<br>
		<h2>OR</h2><br>
			<a href="register" class="status_button">Sign Up!</a>
		</div>
	</div>
	<div id="Main-Content">
		
	

	</div>



</div>

</body>
</html>