
{%from bson.objectid import ObjectId%}
{%import actions.core_actions%}
{%from tornado.escape import linkify%}
<html>
<title>Ubicell</title>
<head>

	<link rel="stylesheet" href="/static/styles/base2.css" type="text/css" />

	<link rel="stylesheet" href="/static/styles/font-awesome.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/dropdown.css?1.3" />

	<link rel="stylesheet" href="/static/styles/switch.css" type="text/css" />
	<script src="/static/jquery-1.9.1.min.js"></script>
	<script src="/static/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/dropdown.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.custom.79639.js"></script> 

	<script src="/static/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="/static/styles/jquery-ui.css" type="text/css" >
	<link rel="stylesheet" href="/static/styles/jquery.tagit.css" type="text/css">
	<link rel="stylesheet" href="/static/styles/custom_pop.css" type="text/css" />
	<link rel="stylesheet" href="/static/styles/popup.css" type="text/css" />

	{%block scripts%}

	{%end%}

</head>
<body>
	<div id="background-grad"></div>

	<div class="clear"></div>
	{%block nav%}
	<div id="top-nav">

		<div id="left-top-nav">
			<div id="logo">
				<a href="/" class="fill-div"></a>
				

				<img src="/static/images/logo_word6.svg" href="/" height="55px" width="175px">
			</div>
		</div>
		<div id="center-top-nav">

			<div id="search-area">
				<form action="#" onsubmit="searchFriends();return false;">
				<input class="search_box" type="text" name="search" placeholder="Search..." >
				<!-- <a class="btn" href="#" onclick="searchFriends()"><i class="icon-search"></i></a> -->
				</form>
			</div>
		</div>
		<div id="right-top-nav">
			<div id="not">
			{%set nc = len(actions.core_actions.get_unread_notifications(current_user['_id']['$oid']))%}
			{%if nc > 0%}
			<a href="#" onclick="toggleNotifications();return false;" style="text-decoration:none;"> <i style="color:orange;" class="icon-globe icon-large"><span class="notification-count">{{nc}}</span></i></a>
			
			{%else%}
				<a href="#" onclick="toggleNotifications();return false;" style="text-decoration:none;"> <i style="color:black;" class="icon-globe icon-large"><span style="display:none;" class="notification-count">{{nc}}</span></i></a>
			{%end%}
				{%from actions import *%}
				{%from models.Notification import *%}
				<div id="not-menu-cont">
				<div id="not-menu">

					{%for n in nots%}
					<div class="not-item">
						{%if isinstance(n,FriendRequestNot)%}
						{%set friend = user_actions.get_simple_data(n.Friend)%}
						<a href="/user/{{friend.UserName}}" class="fill-div"><span></span></a>
						<img src="/images?picid={{str(friend.ProfileImg)}}" href="/user/{{friend.UserName}}" height="52" width="52">
						<p>{{n.Message}}</p>
						{%end%}
					</div>
					{%end%}


			</div>
			</div>
			</div>
			<span class="nav-bar">
				<a href="/">Feed</a>
				<a href="/user/{{escape(current_user['UserName'])}}">Profile</a>
				<!-- <a class = "btn" id="setting" href="#"><i class="icon-cogs"></i></a> -->
				<div id="dd" class="wrapper-dropdown-2" tabindex="1"><i id="tab" class="icon-cogs icon-small"></i>
					<ul class="dropdown">
						<!-- <li><a href="#"><i class="icon-envelope icon-small"></i>Make Event</a></li>
						<li><a href="#"><i class="icon-envelope icon-small"></i>Make Group</a></li> -->
						<li><a href="/actions/edit_profile"><i class="icon-edit icon-small"></i>Edit Profile</a></li>
						<li><a href="/auth/logout"><i class="icon-signout icon-small"></i>Logout</a></li>
					</ul>
				</div>
			</div>
		</span>
	</div>
	</div>
	{% end %}
	<div class="clear"></div>
	{%block container%}
	<div id="container">
		<div id="left-side-bar">
			<div id="subsidebar">
			<a href="#" onclick="togglePop();return false;"><h3>Clubs</h3></a>
			<ul class="sidebar">
				{%for club in clubs%}
				<a href="/club?clubid={{club.Id}}"><li>{{club.Name}}</li></a>
				<!-- <a href="#"><li>Events ></li></a> -->
				{%end%}
			</ul>
		</div>
		</div>
		<div id="Main-Content">
			<a href="#"><h2 id="hhead" style="float:left;color:gray;margin: 5px 5px 5px 5px;">{{current_user['FirstName'].capitalize()}} {{current_user['LastName'].capitalize()}}</h2></a>
			<div class="onoffswitch" id="myonoffswitchpar">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
				<label class="onoffswitch-label" for="myonoffswitch" >
					<div class="onoffswitch-inner" titleb="Friends" titlea="University"></div>
					<div class="onoffswitch-switch"></div>
				</label>
			</div>
			<div class="clear"></div>

			<div id="Status">
				<form action="#" onsubmit="post();return false;">
					<textarea id="status_text" class="status_box" type="text" name="status" placeholder="Whatsup {{current_user['FirstName'].capitalize()}}?"></textarea>
					<input class="status_button" type="submit" value="Post!" >
				</form>
			</div>
			<div id="Status-Feed">
				{%for post in feed%}
<!--  -->			{%if post['Wall']['FriendId'] != post['Wall']['UserId'] %}
						{%from actions import *%}
						{%set user = user_actions.get_simple_data(post['Wall']['FriendId'])%}
					<div id="Status-sec" data-postid={{post['Wall']['id']}} data-ownerid={{post['_id']}}>
											<div id="Votes">
						{%set color = 'gray'%}
						{% if post['Upvoted'] %}
							{%set color = 'orange'%}
						{%end%}
						<a style="color:{{color}};" href="#" onclick="vote(this,'up');return false;" ><i style="color:{{color}};" class="icon-arrow-up"></i></a>

						<p>{{post['Wall']['Upvotes']-post['Wall']['Downvotes']}}</p>
						{%set color = 'gray'%}
						{% if post['Downvoted'] %}
							{%set color = 'orange'%}
						{%end%}
						<a href="#" onclick="vote(this,'down');return false;"><i style="color:{{color}};" class="icon-arrow-down"></i></a>
						<div class="clear"></div>

					</div>

					<div id="status-post">

											<a href="/user/{{user['UserName']}}"><img src="/images?picid={{str(user['ProfileImg'])}}" href="/user/{{user['UserName']}}" height="52" width="52"></a>
											<div class="status-info">
						<p><a class="Name" href="/user/{{user['UserName']}}">{{user['FirstName'].capitalize()}} {{user['LastName'].capitalize()}}</a><i class="icon-caret-right" style="color:black;margin-top:5px;"></i><a class="Name" href="/user/{{post['UserName']}}">{{post['FirstName'].capitalize()}} {{post['LastName'].capitalize()}}</a></p>
						<p class="post">{% raw linkify(post['Wall']['Message'])%}</p>
						<a href="#" onclick="toggleReplies(this);return false;"style="float:left;background:white;font-size:11px;padding-top:10px;color:black;">Show Comments</a>
						<a href="#" onclick="displayReply(this);return false;" style="float:left;background:white;font-size:11px;padding-top:10px;color:black;padding-left:10px;">Reply</a>						

					</div>
				</div>

					<div class="clear"></div>
							<div id="reply-box" data-postid={{post['Wall']['id']}}  style="text-align:left;"> 
								<form>
									<textarea id="reply_text_id" class="reply_text"></textarea>
									<div >
										<a id="rep_link" onclick="reply(this);return false;" href="#">Reply</a>
										<a onclick="hideReply(this);return false;" href="#">Cancel</a>
									</div>
								</form>
							</div>
							{%block reply_sec%}

							{%end%}
							<div class="reply-sec" style= "padding-top:15px;font-size:75%;background:white;">

							</div>
				</div>
					{%else%}
						{%set user = userdata%}
					
						<div id="Status-sec" data-postid={{post['Wall']['id']}} data-ownerid={{post['_id']}}>
							<div id="Votes">
								{%set color = 'gray'%}
								{% if post['Upvoted']%}
								{%set color = 'orange'%}
								{%end%}
								<a  href="#" onclick="vote(this,'up');return false;" ><i style="color:{{color}};" class="icon-arrow-up"></i></a>
								<p>{{post['Wall']['Upvotes']-post['Wall']['Downvotes']}}</p>
								{%set color = 'gray'%}
								{% if post['Downvoted'] %}
								{%set color = 'orange'%}
								{%end%}
								<a href="#" onclick="vote(this,'down');return false;"><i style="color:{{color}};" class="icon-arrow-down"></i></a>
								<div class="clear"></div>

							</div>

							<div id="status-post">
															<a href="/user/{{post['UserName']}}"><img src="/images?picid={{str(post['ProfileImg'])}}" href="/user/{{post['UserName']}}" height="52" width="52"></a>
								<div class="status-info">
								<a class="Name" href="/user/{{post['UserName']}}">{{post['FirstName'].capitalize()}} {{post['LastName'].capitalize()}}</a></br>
								<p class="post">{% raw linkify(post['Wall']['Message'])%}</p>
								<a href="#" onclick="toggleReplies(this);return false;" style="float:left;background:white;font-size:11px;padding-top:10px;color:black;">Show Comments</a>
								<a href="#" onclick="displayReply(this);return false;"style="float:left;background:white;font-size:11px;padding-top:10px;color:black;padding-left:10px;">Reply</a>
								<p></p>
								</div>
							</div>

							<div class="clear"></div>
							<div id="reply-box" data-postid={{post['Wall']['id']}}  style="text-align:left;"> 
								<form>
									<textarea id="reply_text_id" class="reply_text"></textarea>
									<div >
										<a id="rep_link" onclick="reply(this);return false;" href="#">Reply</a>
										<a onclick="hideReply(this);return false;" href="#">Cancel</a>
									</div>
								</form>
							</div>
							{%block reply_sec%}

							{%end%}
							<div class="reply-sec" style= "padding-top:15px;font-size:75%;background:white;">

							</div>
						</div>


				{%end%}
				{%end%}


			</div>
		</div>
	{%end%}

	</div>
	<div class="popupform" id="newclub">
<h3>New Club</h3>
<form action="#" method="post" onsubmit="submitClub(this);return false;">
Name: <input type="text" name="name" required><br>
About: <textarea id="newclubabout"></textarea><br>
<ul id="memberTags"></ul>
<!-- All Friends: <input type="checkbox" ><br> -->
<ul id="adminTags"></ul>
			<div class="onoffswitch" id="publicswpar">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publicsw" checked>
				<label class="onoffswitch-label" for="publicsw" >
					<div class="onoffswitch-inner" titleb="Private" titlea="Public"></div>
					<div class="onoffswitch-switch"></div>
				</label>
			</div>
<a href="#" onclick="$('#newclub').fadeOut()">Cancel</a>
<input type="submit" value="Create">

</form>
</div>
<div id="dialog-overlay"></div>
<div id="dialog-box">
    <div class="dialog-content">
        <div id="dialog-message"></div>
        <a id="dbutt" href="#" onclick="hidePop();return false;"class="button">Close</a>
    </div>
</div>
</body>


<script type="text/javascript">
	$(document).ready(function() {
 		 $('#reply-box').hide();
 		 $('.reply-sec').hide();
 		 $('#not-menu-cont').hide();
 		 var availableTags = [];
 		 var friendIds = [];

	    {%for friend in friends%}

	    	availableTags.push("{{friend['FirstName'].capitalize()}} {{friend['LastName'].capitalize()}}");
	    	friendIds.push("{{friend['_id']}}");
	    {%end%}
	     $("#memberTags").tagit({
            fieldName: "members",
    availableTags: availableTags,
    placeholderText: "Members",
    singleField: true,
    beforeTagAdded: function(event, ui) {
        // do something special
        var text = ui.tag.find('span.tagit-label').text();
        var index = $.inArray(text, availableTags);
        if(index < 0){
        	return false;
        }
        console.log(ui.tag);
        $(ui.tag.find('span.tagit-label')).data('fid',friendIds[index]);

        return index >= 0;
    }

    // $('.onoffswitch-inner:before').css('content','Public');
    // $('.onoffswitch-inner:after').css('content','Private');

});
    $("#adminTags").tagit({
        fieldName: "admins",
    availableTags: availableTags,
    placeholderText: "Admins",
    beforeTagAdded: function(event, ui) {
        // do something special
        var text = ui.tag.find('span.tagit-label').text();
        var index = $.inArray(text, availableTags);
        if(index < 0){
        	return false;
        }
        console.log(ui.tag);
        $(ui.tag.find('span.tagit-label')).data('fid',friendIds[index]);

        return index >= 0;
    }

}); 


    console.log(availableTags);
	});

function submitClub(self){
		var memberform = $(self).find('#memberTags span.tagit-label').eq(1).data('fid');
		var members_li = $(self).find('#memberTags span.tagit-label');
		var admins_li = $(self).find('#adminTags span.tagit-label');

		var length = $(self).find('#memberTags span.tagit-label').length;
		var lengtha = $(self).find('#adminTags span.tagit-label').length;
		var members = "";
		var admins = "";
		for(var i=0;i<length;i++){
			members += members_li.eq(i).data('fid') + ",";
		}
		for(var i=0;i<lengtha;i++){
			admins += admins_li.eq(i).data('fid') + ",";
		}
		var name = $(self).find('input[name="name"]').val();
		var about = $(self).find('#newclubabout').val();
		var priv = checked = $('#publicsw').is(':checked');
		// console.log(about);
			$.ajax({
			  type: "POST",
			  url: '/actions/new_club',
			  data: {'members':members,'name' : name,'about': about,'private' : priv , 'admins' : admins},
			  success: function(){ 

			  	popup("Club created successfully!");
			  	$('#newclub').fadeOut();

			  },
			  error:function(){
			  	popup("something went wrong");
			  },
			  dataType: 'json'
			});

}
	// {%set c = 'black'%}
	// console.log({{len(actions.core_actions.get_unread_notifications(current_user['_id']['$oid']))}});
	// {%if len(actions.core_actions.get_unread_notifications(current_user['_id']['$oid'])) > 0%}

	// 	{%set c = 'orange'%}
	// 	$('.notification-count').show();
	// {%end%}
	//  $('.icon-globe').css('color','{{c}}')
	 // $('.icon-globe:hover').css('color','orange')


	

	function loadReplies(ele){

		var ssec = $(ele).closest('#Status-sec')
		var nele = ssec.find('.reply-sec');
		var postid = ssec.data()['postid'];
		var ownerid = ssec.data()['ownerid'];
		var checked = !$('#myonoffswitch').is(':checked');
		if($('#myonoffswitch').length <= 0){
			checked = false;
		}
		//var postid = 
		$(nele).load('/actions/get_replies?post_id='+postid+'&owner_id='+ownerid+'&is_uni='+checked).hide().fadeIn(300);
	}

	function hideReplies(ele){
		var ssec = $(ele).closest('#Status-sec')
		var nele = ssec.find('.reply-sec');
		$(nele).fadeOut(300);
	}
	function toggleReplies(ele){
		if(ele.innerHTML == "Show Comments"){
			ele.innerHTML = "Hide Comments";
			loadReplies(ele);
		}
		else{
			ele.innerHTML = "Show Comments";
			hideReplies(ele);
		}
	}

	function searchFriends(){
		var query = $('.search_box').val();
		$('head').append('<link rel="stylesheet" type="text/css" href="/static/styles/search.css">');
	//	$('#Main-Content').load("/search?" + $.param({ query : query}) + " #Main-Content > *").hide().fadeIn(700);
		window.location = ("/search?" + $.param({ query : query}));
	}

	function vote(ele,type){
		var postid = $(ele).closest('#Status-sec').data()['postid'];
		var ownerid = $(ele).closest('#Status-sec').data()['ownerid'];
		console.log(postid);
		var element = $(ele).closest('#Status-sec');
		var vote_type = "";
		var is_uni = !$('#myonoffswitch').is(':checked');
		if($('#myonoffswitch').length <= 0){
			is_uni = false;
		}
		console.log(is_uni);
		if(type == 'up'){
			vote_type = "up";
		}
		else{
			vote_type = "down";
		}
		$.ajax({
			  type: "POST",
			  url: '/actions/friend_vote',
			  data: { 'vote_type' : vote_type,'post_owner' : ownerid,'post_id' : postid,'is_reply' : "false",'is_uni' : is_uni},
			  success: function(){ 
			  				  			if($('#myonoffswitch').length <= 0){
			checked = false;
		}
   		if(checked){
   			$("#Status-sec[data-postid='" + postid + "']").load("/ #Status-sec[data-postid='" + postid + "'] > *").hide().fadeIn(100);

   		}
   		else{
   			$("#Status-sec[data-postid='" + postid + "']").load("/?University=True #Status-sec[data-postid='" + postid + "'] > *").hide().fadeIn(100);

   		

   		}
			  },
			  error: function(){ 


			  },
			  dataType: 'json'
			});
		   	var checked = $('#myonoffswitch').is(':checked');
		// if($('#myonoffswitch').length <= 0){
		// 	checked = false;
		// }
  //  		if(checked){
  //  			$("#Status-sec[data-postid='" + postid + "']").load("/ #Status-sec[data-postid='" + postid + "'] > *").hide().fadeIn(100);

  //  		}
  //  		else{
  //  			$("#Status-sec[data-postid='" + postid + "']").load("/?University=True #Status-sec[data-postid='" + postid + "'] > *").hide().fadeIn(100);

   		

  //  		}
	}

	function voteReply(post,type){
		var ele = $(post).closest('#Status-sec');
		var postid = ele.data()['postid'];
		var ownerid = ele.data()['ownerid'];
		var replyid = $(post).closest('.reply').data()['postid'];
		var isReply = "true";
		var vote_type = "";
		var is_uni = !$('#myonoffswitch').is(':checked');
		var is_club = "{{is_club}}";
		if($('#myonoffswitch').length <= 0){
			is_uni = false;
		}
		if(type == 'up'){
			vote_type = "up";
		}
		else{
			vote_type = "down";
		}
		$.ajax({
			  type: "POST",
			  url: '/actions/friend_vote',
			  data: { 'vote_type' : vote_type,'post_owner' : ownerid,'post_id' : postid,'reply_id' : replyid,'is_reply' : isReply,'is_uni' : is_uni,'is_club':is_club},
			  success: function(){ $(".reply[data-postid='" + replyid + "']").load('/actions/get_replies?post_id='+postid+'&owner_id='+ownerid+'&is_uni='+is_uni+" .reply[data-postid='" + replyid + "'] > *").hide().fadeIn(700);
			  },
			  dataType: 'json'
			});
		
	}
	function post(){
		{% from constants import * %}
		var message = $('#status_text').val();
		var posttype = parseInt({{PostType.WALL_POST}});
		var is_uni = !$('#myonoffswitch').is(':checked');
		console.log(posttype);
		$.ajax({
			  type: "POST",
			  url: '/actions/post',
			  data: { 'message' : message, 'posttype' : posttype,'is_uni' : is_uni},
			  success: function(){    		var checked = $('#myonoffswitch').is(':checked');
   		if($('#myonoffswitch').length <= 0){
			checked = false;
		}
   		if(checked){
			$('#Status-Feed').load('/ #Status-Feed > *').hide().fadeIn('slow');
		}
		else{
			$('#Status-Feed').load('/?University=True #Status-Feed > *').hide().fadeIn('slow');
		}
		$('#status_text').val('');
			  },
			  dataType: 'json'
			});


	}

	function reply(post){
		var ele = $(post).closest('#Status-sec');
		var postid = ele.data()['postid'];
		var ownerid = ele.data()['ownerid'];
		var message = 	$("#reply-box[data-postid='" + postid+ "'] textarea").val();
		var is_uni = !$('#myonoffswitch').is(':checked');
		var is_club = "{{is_club}}";

		if($('#myonoffswitch').length <= 0){
			is_uni = false;
		}
		console.log(message);
		//var replyid = postid;
		{% from constants import * %}
		var posttype = parseInt({{PostType.REPLY_POST}});

		$.ajax({
			  type: "POST",
			  url: '/actions/post',
			  data: { 'message' : message, 'posttype' : posttype, 'postid' : postid,'ownerid' : ownerid,'is_uni' : is_uni,'is_club' : is_club},
			  success: function(){ 		
			  	hideReply(post);
		loadReplies(post);
			  },
			  dataType: 'json'
			});


	}

	function replyreply(post){
		var ele = $(post).closest('#Status-sec');
		var postid = ele.data()['postid'];
		var ownerid = ele.data()['ownerid'];
		//console.log(post);
		//console.log(ownerid);
		var replyid = $(post).closest('.reply').data()['postid'];
		//console.log(replyid);
		var message = 	$("#reply-box[data-postid='" + replyid+ "'] textarea").val();

		var is_uni = !$('#myonoffswitch').is(':checked');
		var is_club = "{{is_club}}";

		if($('#myonoffswitch').length <= 0){
			is_uni = false;
		}
		//console.log(message);
		
		{% from constants import * %}
		var posttype = parseInt({{PostType.REPLY_POST}});

		$.ajax({
			  type: "POST",
			  url: '/actions/post',
			  data: { 'message' : message, 'posttype' : posttype, 'postid' : postid,'ownerid' : ownerid,'replyid' : replyid,'is_uni':is_uni,'is_club':is_club},
			  success: function(){ 		hideReply(post);
		loadReplies(post);
			  },
			  dataType: 'json'
			});



	}
	function displayReply(post){
		var ele = $(post).closest('#Status-sec').data()['postid'];
		$("#reply-box[data-postid='" + ele + "']").slideDown(300);
	}

	function displayReplyReply(post){
		var ele = $(post).closest('.reply').find('#reply-box').data()['postid'];
		console.log(ele);
		$("#reply-box[data-postid='" + ele + "']").slideDown(300);
	}

	function hideReply(post){
		$(post).closest('#reply-box').slideUp(300);
	}
	function getPosts(){
		var feed=		$.ajax({
			  type: "GET",
			  url: '/actions/post',
			  data: { },
			  success: function(){ alert('success');
			  },
			  dataType: 'json'
			});
		console.log(feed);
	}
$("#logo").click(function(){
     // window.location=$(this).find("a").attr("href"); 
     window.location = ("/");
     return false;
});



$("#myonoffswitch").click(function(){
     // window.location=$(this).find("a").attr("href"); 

   	var checked = $('#myonoffswitch').is(':checked');
   	if(checked){
   		$('#Status-Feed').load('/ #Status-Feed > *').hide().fadeIn('slow');
   		$('#hhead').html("{{current_user['FirstName'].capitalize()}} {{current_user['LastName'].capitalize()}}");
   	}
   	else{
   		{%import models.University%}
   		$('#Status-Feed').load('/?University=True #Status-Feed > *').hide().fadeIn('slow');
   		{%if uniname != None%}
		$('#hhead').html("{{uniname}}");
		{%end%}
   	}
});

function hidePop(){
	$('#dialog-box').fadeOut();
}

function toggleNotifications(){
	var isvis = $('#not-menu-cont').is(":visible");
	// console.log(hid);
	if(isvis == false){
			$.ajax({
			  type: "POST",
			  url: '/actions/get_nots',
			  data: { },
			  success: function(){ alert('success');
			  },
			  dataType: 'json'
			});
			$('#not .icon-globe').load('/ #not .icon-globe > *');
			$('#not .icon-globe').css('color','black');
			// $('#not-menu').hide();
	}
	
	 $('#not-menu-cont').fadeToggle();



}

$(document).ready(function () {

	// if user clicked on button, the overlay layer or the dialogbox, close the dialog	
	$('a.btn-ok, #dialog-overlay, #dialog-box').click(function () {		
		$('#dialog-overlay, #dialog-box').hide();		
		return false;
	});
	
	// if user resize the window, call the same function again
	// to make sure the overlay fills the screen and dialogbox aligned to center	
	$(window).resize(function () {
		
		//only do it if the dialog box is not hidden
		if (!$('#dialog-box').is(':hidden')) popup();		
	});	
	
	
});

function togglePop(){
	var maskHeight = $(window).height();  
	var maskWidth = $(window).width();
	console.log(maskHeight);
	var dialogTop =  (maskHeight/3) - ($('#newclub').height())-300;  
	var dialogLeft = (maskWidth/2) - ($('#newclub').width()/2);
	// $('#newclub').css({top:50%, left:50%});
	$("#newclub").fadeToggle();

}

//Popup dialog
function popup(message) {
		
	// get the screen height and width  
	var maskHeight = $(window).height();  
	var maskWidth = $(window).width();
	
	// calculate the values for center alignment
	var dialogTop =  (maskHeight/3) - ($('#dialog-box').height());  
	var dialogLeft = (maskWidth/2) - ($('#dialog-box').width()/2); 
	
	// assign values to the overlay and dialog box
	// $('#dialog-overlay').css({height:maskHeight, width:maskWidth}).show();
	$('#dialog-box').fadeIn();
	
	// display the message
	$('#dialog-message').html(message);


	setTimeout(function(){
	$('#dialog-box').fadeOut();}, 3000);
}

// $('.notification-count').hide();
$('#subsidebar h3').hover(function(){
	$('#subsidebar h3').html('New Club +');
},
function(){
	$('#subsidebar h3').html('Clubs');
});

$('#logo img').css('cursor', 'pointer');

$('#logo img:hover').css('background', 'gray');


</script>
{%block funcs%}
{%end%}
</html>