{% extends "index.html" %}

<html>
<head>
    {%block scripts%}
<!--     <link rel="stylesheet" href="/static/styles/club.css" type="text/css" />
 -->
    {%end%}

</head>
<body>
    {%block container%}

    <div id="container" class="club">
        {%module LeftSideModule(current_user['_id']['$oid'])%}

        <div id="content">
            <div id="user-data">
                <h1>{{club.Name}}</h1>
                <h4>{{club.About}}</h2>
                <a href="/club/members?clubid={{club.id}}"><h5>{{len(club.Members)}} Members</h5></a></br>
                <a href="#" onclick="requestMember('{{club.id}}');return false;" >
                {%if not is_member and club.Private and not is_member_reg%}
                    <h5>Request to Join</h5>
                {%elif not club.Private and not is_member%}
                    <h5>Join</h5>
                {%end%}
                </a>
                {%if is_member_reg%}
                    <h5>Membership Requested</h5>
                {%elif is_member%}
                    <h5>Member</h5>
                {%end%}
            </div>
            <div class="clear"></div>
            <div id="status">
                <form action="#" onsubmit="post($('#status_text').data('userid'),$('body').data('networkid'));return false;">
                    <textarea id="status-text" class="status-box" type="text" name="status" placeholder="Whatsup {{current_user['FirstName'].capitalize()}}?"></textarea>
                    <input class="status-button" type="submit" value="Post!" >
                </form>
            </div>

            <div id="status-feed">
                {%for post in feed%}
                    {%module PostModule(me,post,uniname,detailed=False)%}
                {%end%}

            </div>
        </div>


    </div>
    {%end%}
{%block funcs%}
<script type="text/javascript">
$('body').data('networkid',"{{club.id}}");






</script>

{%end%}

</body>
</html>