{% extends "index.html" %}

<html>
<head>
    {%block scripts%}
<!--     <link rel="stylesheet" href="/static/styles/club.css" type="text/css" />
 -->
    {%end%}

</head>
<body>
    {%block container%}

    <div id="container" class="club">
        {%module LeftSideModule(current_user['_id']['$oid'])%}

        <div id="content">
            <div id="user-data">
                <h1>{{club.Name}}</h1>
                <h4>{{club.About}}</h2>
                <a href="/club/members?clubid={{club.id}}"><h5>{{len(club.Members)}} Members</h5></a></br>
                <a href="#" onclick="requestMember('{{club.id}}');return false;" >
                {%if not is_member and club.Private and not is_member_reg%}
                    <h5>Request to Join</h5>
                {%elif not club.Private and not is_member%}
                    <h5>Join</h5>
                {%end%}
                </a>
                {%if is_member_reg%}
                    <h5>Membership Requested</h5>
                {%elif is_member%}
                    <h5>Member</h5>
                {%end%}
            </div>
            <div class="clear"></div>
            <div id="status">
                <form action="#" onsubmit="post($('#status_text').data('userid'),$('body').data('networkid'));return false;">
                    <textarea id="status-text" class="status-box" type="text" name="status" placeholder="Whatsup {{current_user['FirstName'].capitalize()}}?"></textarea>
                    <input class="status-button" type="submit" value="Post!" >
                </form>
            </div>

            <div id="status-feed">
                {%for post in feed%}
                    {%module PostModule(me,post,uniname,detailed=False)%}
                {%end%}

            </div>
        </div>


    </div>
    {%end%}
{%block funcs%}
<script type="text/javascript">
$('body').data('networkid',"{{club.id}}");

$(document).endlessScroll({
  fireOnce: false,
  fireDelay: 500,
  loader:'<div id="loading"><img src="/static/images/ajax-loader.gif"></div>',
  insertBefore: '#Status-Feed',
  resetCounter: function(){
   if(clicked == true){
      clicked = false;
      return true;
   }
   return false;
  },
  content: function(fireSeq,pageSeq,scrollDir){
   console.log("test");
   if(pageSeq < 0){
            var u = "/actions/feed";
            
            u = u+"?page="+fireSeq
            

            
            u = u + "&network_id={{club.id}}";
            
            console.log(u);
            var content ="";
            $.ajax({
            type : "GET",
             url: u,
             success: function(data) {
               console.log(data);
                  data = $('<div/>').html(data).contents().eq(1);
                  
               //console.log($(data).find('#Status-Feed').html());
                  content = $(data).html();
                  console.log(content);
             },

             async:false
            });
            //console.log(content);
            return content;
             //console.log(data);
             
      //console.log($.get("/?page="+fireSeq+" #Status-Feed"));
      //return $.get("/?page="+fireSeq+" #Status-Feed").responseText;
   }
   
  },
  callback: function(p){
    //alert("test");
  }
});




</script>

{%end%}

</body>
</html>