{% extends "index.html" %}


<html>
<title>uPlace</title>
<head>
{%block scripts%}

    <link rel="stylesheet" href="/static/styles/popup.css" type="text/css" />
    <script src="/static/js/jquery.form.js"></script> 
{%end%}
</head>
<body>

	<div class="clear"></div>
    {%block container%}
	<div id="container" class="register">

	<div id="left-side-bar">
		<form id="regForm" action="/actions/edit_profile" method="post" enctype="multipart/form-data">

    		<div id="reg-block">
                                Name: <input type="text" name="FullName" value="{{user['FirstName'].capitalize()}} {{user['LastName'].capitalize()}}"><br>
                <div id="profile-pic">
                  <label for="pic">Profile Picture</label>
                  <input type="file" name="pic" accept="image/*" onchange="readURL(this);" style="vertical-align:middle;width: 90px;">
                  <img id="pro-pic" src="#" alt="your image" height = "65px" width="65px" style="margin: 0;padding: 0;vertical-align: middle;" />
                </div>


    <!-- 				Password: <input type="password" name="Password"><br>
    				Confirm Password: <input type="password" name="confPassword"><br>
     -->
    		</div>
    	</div>
    	<div id="content">
    		<div id="extra-info">
                {%if user['Gender'] == "Male"%}
                Male <input type="radio" name="gender" value="Male" checked> 
                Female <input type="radio" name="gender" value="Female" ><br>

                {%else%}
                Male <input type="radio" name="gender" value="Male" > 
                Female <input type="radio" name="gender" value="Female" checked><br>
                {%end%}
                Major: <input type="text" name="major" value="{{user['School']['Major']}}">
                Grad Year: <select name="yearpicker" id="yearpicker" value="{{user['School']['GradYear']}}" >{{user['School']['GradYear']}} </select><br><br>
                About Me: <textarea style="vertical-align: middle;" name="about" value="{{user['About']}}">{{user['About']}}</textarea><br><br><br>
                <input type="submit" value="Save" class="status_button" >
    		</div>
	</form>

	<div id="autocomplete"></div>

	</div>
</div>
<div id="dialog-overlay"></div>
<div id="dialog-box">
    <div class="dialog-content">
        <div id="dialog-message"></div>
        <a id="dbutt" href="#" class="button">Close</a>
    </div>
</div>
</div>
{%end%}

{%block funcs%}
	<script type="text/javascript">

	//var colleges = ['Rochester Institute of Technology (RIT)','University of Rochester (UofR)','Rochester College'];

	if (typeof String.prototype.startsWith != 'function') {
	  // see below for better implementation!
	  String.prototype.startsWith = function (str){
	    return this.indexOf(str) == 0 && str != '';
	  };
	}
	
	// function adjust(){
	// 	var inp = $('#Uni');
 //        var offset = inp.offset();
	// 	$("#autocomplete").offset({ top: offset.top + 35, left: offset.left});


	// }
	
	// var resizeTimer;
	// $(window).resize(function() {
	//     clearTimeout(resizeTimer);
	//     resizeTimer = setTimeout(adjust, 100);
	// });

	 // var $input = $('#Uni');
	 // $input.keypress( function( e ) {
  //       switch( e.keyCode ) {
  //           case 13:        // return
  //               e.preventDefault();
  //               selectResult();
  //               return;
  //           case 38:        // up
  //               e.preventDefault();
  //               highlightResult( -1 );
  //               return;
  //           case 40:        // down
  //               e.preventDefault();
  //               highlightResult( 1 );
  //               return;
  //           //case ... there may be keys that you want to ignore like left and right
  //       }
  //       clearTimeout( delay );
  //       delay = setTimeout( search, wait );
  //   });


	// $('#Uni').keyup(function(e) {
	// 	$('#autocomplete').show();
	// 	$('#autocomplete').empty();
 //        var inp = $('#Uni');
 //        var offset = inp.offset();
 //        $("#autocomplete").offset({ top: offset.top + 35, left: offset.left});
	// 	var typetext = $('#Uni').val();

	// 	var matches = matchCollege(colleges,String(typetext));
	// 	for(var i =0; i< matches.length;i++){
	// 		var match = matches[i];
	// 		$('#autocomplete').append('<div class="autocomplete-section"><a id="school-chooser" onclick="linkClicked(this.innerHTML);return false;" href="" >'+match+'</a></div> <div class="clear"</div>');

	// 	}
	// });
	function linkClicked(school){
		$('#Uni').val(school);
		$('#autocomplete').hide();
		return false;
	}
	function matchCollege(lst,str){
		var matches = new Array();
		for(var i = 0; i < lst.length;i++){
			var school = lst[i];

			 if(school.toLowerCase().startsWith(str.toLowerCase())){
			 	matches.push(school);
			}
			if(matches.length >= 8){
				return matches;
			}
		}
		return matches;
	}
$("#dbutt").click(function(){
    window.location = "/";
});
//     $("#regForm").submit(function() {

        
//     return false;
// });


	function validateForm(form){
        popup("Preferences Saved!");
		return true;
	}

	function checkUniversity(university){

	}

	function checkUserAvailability(UserName){

	}
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pro-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
	$(function() {
     // Handler for .ready() called.
            var d = {{user['School']['GradYear']}};
            
     		for (i = new Date().getFullYear()+10; i > 2000; i--)
		{
            if(i != d){
    		  $('#yearpicker').append($('<option />').val(i).html(i));
            }
            else{
               // console.log({{user['School']['GradYear']}});
              $('#yearpicker').append($('<option />').val(i).html(i).attr('selected','true'));

            }
		}
         $('#pro-pic').attr('src', "/images?picid={{current_user['ProfileImg']['$oid']}}");
             $('#regForm').ajaxForm(function() { 
                popup("Preferences Saved"); 
            }); 
		// $('#autocomplete').hide();

    });


	
	</script>
{%end%}
</body>
</html>