<html>
<title>Ubicell</title>
<head>
	<script src="../static/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="../static/styles/ubicell.css" type="text/css" />
	<!-- <link rel="stylesheet" href="../static/styles/font-awesome.css" type="text/css" /> -->

</head>
<body>
    <div id="nav">

        <div id="left-nav">
            <div id="logo">
                <a href="/" class="fill-div"></a>
                <img src="/static/images/logo_word6.svg" style="width:165px;height:50px;" >
            </div>
        </div>
        <div id="center-nav">


        </div>
        <div id="right-nav">

    </div>
    </div>
	<div class="clear"></div>
	<div id="container" class="login">

	<div id="left-side-bar">
		<div id="login">
		<form action="login" method="post">
		Email/Username: <input type="text" name="UserName"><br>
		Password: <input type="password" name="Password"><br>
		<input type="submit" value="Login" class="status-button">
		</form>
		<br>
		<h2>OR</h2><br>
			<a href="register" class="status_button">Sign Up!</a>
		</div>
	</div>
	<div id="content">
		
	

	</div>



</div>

</body>
</html>