{% extends "index.html" %}

<html>
<head>
	{%block scripts%}
		<!-- <link rel="stylesheet" href="/static/styles/me.css" type="text/css" /> -->

	{%end%}
</head>
<body>
	{%block container%}
	<div id="container" class="user">
        {%module LeftSideModule(current_user['_id']['$oid'])%}

		<div id="content">
			<div id="user-data">
				<div class="proimg">
					<img  src="/images?picid={{escape(userdata['ProfileImg']['$oid'])}}" height="150" width="150">
					<span class="changepro"><a href="/actions/edit_profile">Edit</a></span>
				</div>
				<div class="user-description">
					<h2>{{escape(userdata['FirstName']).capitalize()}} {{escape(userdata['LastName']).capitalize()}}</h2></br>
					<h3>{{escape(userdata['School']['Major'])}}, {{userdata['School']['GradYear']}}</h3>
					<p>About Me: {{escape(userdata['About'])}}</p>
				</br>
				<a href="photos">Photos</a>
				<a href="friends">Friends</a>
			</div>

		</div>
		<div class="clear"></div>
		<div id="Status">
			<form action="#" onsubmit="post($('#status-text').data('networkid'),null,null);return false;">
                    <textarea id="status-text" class="status-box" type="text" name="status" placeholder="Whatsup {{current_user['FirstName'].capitalize()}}?"></textarea>
                    <input class="status-button" type="submit" value="Post!" >
                </form>
		</div>
            <div id="status-feed">
                {%for post in feed%}
                    {%module PostModule(me,post,uniname,detailed=False)%}
                {%end%}

            </div>

	</div>
</div>
{%end%}

{%block funcs%}

<script type="text/javascript">


$('.changepro').hide();
$('.proimg').hover(function(){
    $('.changepro').show();
}, function() {
   $('.changepro').hide();
});
</script>

{%end%}
</body>
</html>