{% extends "base.html" %}

<html>
<head>
    <link rel="stylesheet" href="/static/styles/search.css" type="text/css" />


    {%block scripts%}
        <link rel="stylesheet" href="/static/styles/search.css" type="text/css" />
        <link rel="stylesheet" href="/static/styles/members.css" type="text/css" />

    {%end%}

</head>
<body>
    

    {%block container%}
    <div id="container">
        <div id="left-side-bar">

        </div>

        <div id="Main-Content">
            <h1>MemberRequests</h2></br>
            {%for result in MemberRequests%}
            <div id="reqs" class="result2">
                <img src="/images?picid={{str(result['ProfileImg'])}}" href="/user/{{result['UserName']}}" height="52" width="52">
                <div id="sub-res">
                <a href="/user/{{result['UserName']}}">{{result['FirstName'].capitalize()}}  {{result['LastName'].capitalize()}}</a>
                <a href="#" onclick="addMember(this)" data-id="{{result['_id']}}"><h5>Add Member</h5></a>
                <h5>Major: {{result['School']['Major']}} </h5>
                <h6>Class of {{result['School']['GradYear']}}</h6>
                <h6>About: {{result['About']}}</h6>
                </div>
            </div>
            {%end%}
            <h1>Members</h2></br>
            {%for result in Members%}
            <div id="members" class="result">
                <img src="/images?picid={{str(result['ProfileImg'])}}" href="/user/{{result['UserName']}}" height="52" width="52">
                <div id="sub-res">
                <a href="/user/{{result['UserName']}}">{{result['FirstName'].capitalize()}}  {{result['LastName'].capitalize()}}</a>

                <h5>Major: {{result['School']['Major']}} </h5>
                <h6>Class of {{result['School']['GradYear']}}</h6>
                <h6>About: {{result['About']}}</h6>
                </div>
            </div>
            {%end%}
        </div>
    </div>
    {%end%}
</body>

{%block funcs%}
<script type="text/javascript">
function  addMember(obj) {
    var userid = $(obj).data('id');
    var clubid = "{{club.id}}";
    var action = {{MemberAction.CONFIRM}};

                $.ajax({
              type: "POST",
              url: '/club/members',
              data: {'clubid': clubid,'userid' : userid,'action' : action},
              success: function(){ 

                popup("Member added successfully!");
                $("#members").load("/club/members?clubid={{club.id}} #members > *").hide().fadeIn(100);

              },
              error:function(){
                popup("something went wrong");
              },
              dataType: 'json'
            });
}

</script>
{%end%}
</html>