{% extends "index.html" %}

<html>
<head>


</head>
<body>
    

    {%block container%}
    <div id="container" class="search">
        {%module LeftSideModule(current_user['_id']['$oid'],clubs)%}


        <div id="content">
            <h1>MemberRequests</h2></br>
            {%for result in MemberRequests%}
            <div id="reqs" class="result2">
                <img src="/images?picid={{str(result['ProfileImg'])}}" href="/user/{{result['UserName']}}" height="52" width="52">
                <div class="sub-res">
                <a href="/user/{{result['UserName']}}">{{result['FirstName'].capitalize()}}  {{result['LastName'].capitalize()}}</a>
                <a href="#" onclick="addMember($(this).data('id'),'{{club.id}}');return false;" data-id="{{result['_id']}}"><h5>Add Member</h5></a>
                <h5>Major: {{result['School']['Major']}} </h5>
                <h6>Class of {{result['School']['GradYear']}}</h6>
                <h6>About: {{result['About']}}</h6>
                </div>
            </div>
            {%end%}
            <h1>Members</h2></br>
            {%for result in Members%}
            <div id="members" class="result">
                <img src="/images?picid={{str(result['ProfileImg'])}}" href="/user/{{result['UserName']}}" height="52" width="52">
                <div class="sub-res">
                <a href="/user/{{result['UserName']}}">{{result['FirstName'].capitalize()}}  {{result['LastName'].capitalize()}}</a>

                <h5>Major: {{result['School']['Major']}} </h5>
                <h6>Class of {{result['School']['GradYear']}}</h6>
                <h6>About: {{result['About']}}</h6>
                </div>
            </div>
            {%end%}
        </div>
    </div>
    {%end%}
</body>

{%block funcs%}
<script type="text/javascript">


</script>
{%end%}
</html>