<html>
<title>Ubisoft</title>
<head>
    <script src="../static/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../static/styles/base2.css" type="text/css" />
    <link rel="stylesheet" href="../static/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="../static/styles/font-awesome.css" type="text/css" />

</head>
<body>
        <div id="top-nav">
        <div id="logo">
                <a href="/"><img src="/static/images/logo_word6.svg" height="55px" width="175px"></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div id="container">

    <div id="left-side-bar">

    </div>
    <div id="Main-Content">
        <h1>{{message}}</h1>
    

    </div>



</div>

</body>
</html>