<html>
<title>Ubicell</title>
<head>
	<script src="../static/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="../static/styles/base2.css" type="text/css" />
	<link rel="stylesheet" href="../static/styles/reg.css" type="text/css" />
	<link rel="stylesheet" href="../static/styles/font-awesome.css" type="text/css" />
	<script src="/static/jquery-1.9.1.min.js"></script>

	<link rel="stylesheet" href="../static/styles/autocomplete.css" type="text/css" />
	<script src="../static/js/schools.js"></script>

</head>
<body>

	<div id="top-nav">
		<div id="logo">
			
				<a href="/"><img src="/static/images/logo_word6.svg" height="55px" width="175px"></a>

		</div>
		<div class="clear"></div>

	</div>
	<div class="clear"></div>
	<div id="container">

	<div id="left-side-bar">
		<form id="regForm" action="register" onSubmit="return validateForm(this)" method="post" enctype="multipart/form-data">

		<div id="reg-block">
				Name: <input type="text" name="FullName" required="true"><i class="icon-remove" style="color:red;"></i><span class="error-box"> </span><br>
				Username: <input type="text" name="UserName" pattern="[A-Za-z\d.]{5,}" required="true"><i class="icon-remove" style="color:red;"></i><span class="error-box"></span><br>
				Password: <input type="password" name="Password" required="true"><i class="icon-remove" style="color:red;"></i><span class="error-box"></span><br>
				Confirm Password: <input type="password" name="confPassword" required="true"><i class="icon-remove" style="color:red;"></i><span class="error-box"></span><br>
				Email: <input type="email" name="Email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.edu$" required="true"><i class="icon-remove" style="color:red;"></i><span class="error-box"></span><br>

		</div>
	</div>
	<div id="Main-Content">
		<div id="extra-info">
			<div id="profile-pic">
			  <label for="pic">Profile Picture</label>
			  <input type="file" required="true" name="pic" accept="image/*" onchange="readURL(this);" style="vertical-align:middle;width: 90px;">
			  <img id="pro-pic" src="#" alt="your image" height = "65px" width="65px" style="margin: 0;padding: 0;vertical-align: middle;" />
			</div>
			Male <input type="radio" name="gender" value="Male" checked> 
			Female <input type="radio" name="gender" value="Female" ><br>
			University: <input required="true" type="text" name="university" id="Uni" autocomplete="off" ><br>
			Major: <input type="text" name="major">
			Grad Year: <select name="yearpicker" id="yearpicker" ></select><br><br>
			About Me: <textarea style="vertical-align: middle;" name="about"></textarea><br><br><br>
			<input type="submit" value="Register" class="status_button" >

		</div>
	</form>

	<div id="autocomplete"></div>

	</div>


	<script type="text/javascript">

	//var colleges = ['Rochester Institute of Technology (RIT)','University of Rochester (UofR)','Rochester College'];

	if (typeof String.prototype.startsWith != 'function') {
	  // see below for better implementation!
	  String.prototype.startsWith = function (str){
	    return this.indexOf(str) == 0 && str != '';
	  };
	}
	
	function adjust(){
		var inp = $('#Uni');
        var offset = inp.offset();
		$("#autocomplete").offset({ top: offset.top + 35, left: offset.left});


	}

	$("#reg-block").focusin( function(e) {
		var input = e.target;
		var name = $(input).attr("name");
		var value = input.value;
		if(name=="UserName"){
			console.log("here");
			displayMessage(input,"Username must contain at least 5 characters");
		}
		if(name == "Email"){
			displayMessage(input,"Email must end in .edu");

		}
		else{

			// displayMessage(input,"dafaq");
		}

			// validate(e.target);
			// if(res == true){
			// 	makeCheck(e.target);
			// }
			// else{
			// 	makeX(e.target);
			// }
	});

		$("#reg-block").focusout( function(e) {
			validate(e.target);

			 
			// if(res == true){
			// 	makeCheck(e.target);
			// }
			// else{
			// 	makeX(e.target);
			// }
	});
	var resizeTimer;
	$(window).resize(function() {
	    clearTimeout(resizeTimer);
	    resizeTimer = setTimeout(adjust, 100);
	});

	function validate(input){

		var value = input.value;
		var name = $(input).attr("name");
		if(value.length <= 0){
			hideMessage(input);
			return false;
		}
		if(name == "UserName"){
			if(value.match(/[a-z\d.]{5,}/)){
				makeCheck(input);
				hideMessage(input);
			}
			else{
				makeX(input);
				return false;

			}
			// if(checkUserAvailability(value)){
			// 	makeCheck(e.target);
			// }
			// else{
			// 	makeX(e.target);
			// 	displayError(input,"Username not available");
			// }
		}
		if(name == "Password"){
			if(value.length < 4){
				displayMessage(input,"Password is too short");
				makeX(input);
				return false;
			}
			else{
				makeCheck(input);
			}
		}
		if(name == "confPassword"){
			var val = $('[name=Password]').val();
			var passin = $('input[name="Password"]');
			if(val != value){
				makeX(input);
				// makeX(passin);
				displayMessage(input,"Passwords don't match");
				return false;
			}
			else{
				// makeCheck(passin);
				makeCheck(input);
				hideMessage(input);
			}
		}
		if(name=="Email"){
			if(value.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.edu$/)){
				makeCheck(input);
				hideMessage(input);
			}
			else{
				displayMessage(input,"Invalid Email");
				makeX(input);
				return false;

			}	
		}
		if(name == "FullName"){
			if(value.length < 4){
				displayMessage(input,"Name is too short");
				makeX(input);
				return false;
			}
			else{
				makeCheck(input);
			}
		}
		return true;
	}

	function hideMessage(input){
		$(input).next().next('span.error-box').fadeOut();
	}

	function displayMessage(input,message){
		console.log($(input).next().next('span.error-box'));
		$(input).next().next('span.error-box').text(message);
		$(input).next().next('span.error-box').hide().fadeIn();
	}

	function makeCheck(input){
		$(input).next().toggleClass('icon-remove',false);
		$(input).next().toggleClass('icon-ok',true);
		$(input).next().css("color","green");
	}

	function makeX(input){
		$(input).next().toggleClass('icon-remove',true);
		$(input).next().toggleClass('icon-ok',false);
		$(input).next().css("color","red");
	}

	 // var $input = $('#Uni');
	 // $input.keypress( function( e ) {
  //       switch( e.keyCode ) {
  //           case 13:        // return
  //               e.preventDefault();
  //               selectResult();
  //               return;
  //           case 38:        // up
  //               e.preventDefault();
  //               highlightResult( -1 );
  //               return;
  //           case 40:        // down
  //               e.preventDefault();
  //               highlightResult( 1 );
  //               return;
  //           //case ... there may be keys that you want to ignore like left and right
  //       }
  //       clearTimeout( delay );
  //       delay = setTimeout( search, wait );
  //   });
	// $('[name=confPassword]').click(function() {
	// 	var cp = $('[name=confPassword]');
	// 	validate(cp);
	// });

	$(document).click(function() {
	    $('#autocomplete').hide();

	});

	$('#Uni').keyup(function(e) {
		$('#autocomplete').show();
		$('#autocomplete').empty();
        var inp = $('#Uni');
        var offset = inp.offset();
        $("#autocomplete").offset({ top: offset.top + 35, left: offset.left});
		var typetext = $('#Uni').val();

		var matches = matchCollege(colleges,String(typetext));
		for(var i =0; i< matches.length;i++){
			var match = matches[i];
			$('#autocomplete').append('<div class="autocomplete-section"><a id="school-chooser" onclick="linkClicked(this.innerHTML);return false;" href="" >'+match+'</a></div> <div class="clear"</div>');

		}
	});
	function linkClicked(school){
		$('#Uni').val(school);
		$('#autocomplete').hide();
		return false;
	}
	function matchCollege(lst,str){
		var matches = new Array();
		for(var i = 0; i < lst.length;i++){
			var school = lst[i];

			 if(school.toLowerCase().startsWith(str.toLowerCase())){
			 	matches.push(school);
			}
			if(matches.length >= 8){
				return matches;
			}
		}
		return matches;
	}
	function validateForm(form){
		var myDiv = document.getElementById( "reg-block" );
		var inputArr = myDiv.getElementsByTagName( "input" );
		for (var i = 0; i < inputArr.length; i++) {
			if(validate(inputArr[i])== false){
				alert("Your "+ inputArr[i].name+ " field is invalid!");
				return false;
			}
		}
		
		alert("Thanks for registering!\nA verification email has been sent.");
		return true;


	}

	function checkUniversity(university){

	}

	function checkUserAvailability(UserName){

	}
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pro-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
	$(function() {
     // Handler for .ready() called.
     		for (i = new Date().getFullYear()+10; i > 2000; i--)
		{
    		$('#yearpicker').append($('<option />').val(i).html(i));
		}
		$('#autocomplete').hide();
		// validateForm($('#regForm'));

    });


	
	</script>
</div>
</body>
</html>