<html>
<title>uPlace</title>
<h1>uPlace: Registration</h1>
<body>
<form id="regForm" action="register" onSubmit="return validateForm(this)" method="post">
Username: <input type="text" name="UserName"><br>
Password: <input type="text" name="Password"><br>
Confirm Password: <input type="text" name="confPassword"><br>
Email: <input type="text" name="Email"><br>
University: <input type="text" name="UID"><br>
First Name: <input type="text" name="FirstName"><br>
Last Name: <input type="text" name="LastName"><br>
<input type="submit" value="Submit">
</form>


<script type="text/javascript">

function validateForm(form){
	return true;
}

function checkUniversity(university){

}

function checkUserAvailability(UserName){
	
}

</script>

</body>
</html>