{% extends "index.html" %}

<html>
<head>

</head>
<body>
	

	{%block container%}
	<div id="container" class="search">
        {%module LeftSideModule(current_user['_id']['$oid'])%}


		<div id="content">
			<h1>Search Results</h2></br>
			<h3>Users</h3></br>
			{%for result in results.Users%}
			<div class="result">
				<a href="/user/{{result['UserName']}}"><img src="/images?picid={{str(result['ProfileImg'])}}" href="/user/{{result['UserName']}}" height="52" width="52"></a>
				<div class="sub-res">
				<a href="/user/{{result['UserName']}}">{{result['FirstName'].capitalize()}}  {{result['LastName'].capitalize()}}</a>

				<h5>Major: {{result['School']['Major']}} </h5>
				<h6>Class of {{str(result['School']['GradYear'])}}</h6>
				<h6>About: {{result['About']}}</h6>
				</div>
			</div>
			{%end%}
			<h3>Clubs</h3></br>
			{%for result in results.Clubs%}
			<div class="result">
				
				<div class="sub-res">
				<a href="/club?clubid={{result['_id']}}">{{result['Name'].capitalize()}}</a>

				<h6>About: {{result['About']}}</h6>
				</div>
			</div>
			{%end%}
		</div>
	</div>
	{%end%}
</body>


<script type="text/javascript">


</script>
</html>