{%from bson.objectid import ObjectId%}

   <div id="Status-Feed">
      {%from actions import *%}
      {%for post in feed%}

      {%set user = user_actions.get_simple_data(post.UserId)%}
      <div id="Status-sec" data-postid={{post.id}} data-ownerid={{post.UserId}}>
         <div id="Votes">
            {%set color = 'gray'%}
            {% if ObjectId(current_user['_id']['$oid']) in post.Upvoters %}
            {%set color = 'orange'%}
            {%end%}
            <a  href="#" onclick="vote(this,'up')" ><i style="color:{{color}};" class="icon-arrow-up"></i></a>
            <p>{{post.Upvotes-post.Downvotes}}</p>
            {%set color = 'gray'%}
            {% if ObjectId(current_user['_id']['$oid']) in post.Downvoters %}
            {%set color = 'orange'%}
            {%end%}
            <a href="#" onclick="vote(this,'down')"><i style="color:{{color}};" class="icon-arrow-down"></i></a>
            <div class="clear"></div>
         </div>

         <div id="status-post">
                     <a href="/user/{{user.UserName}}"><img src="/images?picid={{str(user.ProfileImg)}}" href="/user/{{user.UserName}}" height="52" width="52"></a>
            <div class="status-info">
            <a class="Name" href="/user/{{user.UserName}}">{{user.FirstName.capitalize()}} {{user.LastName.capitalize()}}</a></br>
            <p class="post">{{post.Message}}</p>
            <a href="#" onclick="toggleReplies(this);return false;" style="float:left;background:white;font-size:11px;padding-top:10px;color:black;">Show Comments</a>
            <a href="#" onclick="displayReply(this);"style="float:left;background:white;font-size:11px;padding-top:10px;color:black;padding-left:10px;">Reply</a>
            <p></p>
         </div>
      </div>
         <div class="clear"></div>
         <div id="reply-box" data-postid={{post.id}}  style="text-align:left;">
            <form>
               <textarea id="reply_text_id" class="reply_text"></textarea>
               <div >
                  <a id="rep_link" onclick="reply(this);return false;" href="#">Reply</a>
                  <a onclick="hideReply(this)" href="#">Cancel</a>
               </div>
            </form>
         </div>
         {%block reply_sec%}
         {%end%}
         <div class="reply-sec" style= "padding-top:15px;font-size:75%;background:white;">
         </div>
      </div>
      {%end%}
      
   </div>