{% extends "index.html" %}


{%from bson.objectid import ObjectId%}
{%block container%}
<div id="container" class="index">
        {%module LeftSideModule(current_user['_id']['$oid'],clubs)%}
        <div id="content">
            
            <a href="#"><h2 id="hhead" style="float:left;color:gray;margin: 5px 5px 5px 5px;">{{uniname}}</h2></a>
<!--             <div class="onoffswitch" id="myonoffswitchpar">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch" >
                    <div class="onoffswitch-inner" titleb="Popular" titlea="New"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div> -->
            <div class="clear"></div>
            
            <div id="status">
                <form action="#" onsubmit="post($('#status_text').data('userid'),$('body').data('networkid'));return false;">
                    <textarea id="status-text" class="status-box" type="text" name="status" placeholder="Whatsup {{current_user['FirstName'].capitalize()}}?"></textarea>
                    <input class="status-button" type="submit" value="Post!" >
                </form>
            </div>
            <div id="status-feed">
                {%for post in feed%}
                    {%module PostModule(me,post,uniname,detailed=False)%}
                {%end%}

            </div>
            
        </div>
{%end%}
{%block funcs%}

<script type="text/javascript">

$("#myonoffswitch").click(function(){
     // window.location=$(this).find("a").attr("href"); 

    var checked = $('#myonoffswitch').is(':checked');
    console.log("TEST" + checked);
      if(checked){
                    var u = "/actions/feed";
            
            u = u+"?page="+0;
            

            
            u = u + "&network_id={{current_user['School']['University']['$oid']}}";
      $('#Status-Feed').load(u+" #Status-Feed > *").hide().fadeIn('slow');
  //      $('#hhead').html("{{current_user['FirstName'].capitalize()}} {{current_user['LastName'].capitalize()}}");
  //      $('body').data('networkid',null);
      //window.history.pushState("newstate", "Friend Feed", "/actions/feed");

      }
      else{
            var u = "/actions/feed";
            
            u = u+"?page="+0;
            

            
            u = u + "&network_id={{current_user['School']['University']['$oid']}}";
            u = u + "&sort=-Time";
  //      {%import models.University%}
        $('#Status-Feed').load(u+' #Status-Feed > *').hide().fadeIn('slow');
  //      {%if uniname != None%}
    // $('#hhead').html("{{uniname}}");
    // {%end%}
    // $('body').data('networkid',"{{current_user['School']['University']['$oid']}}");
     //window.history.pushState("newstate", "University Feed", "/actions/feed?sort=-Time ");
      }
    clicked = true;
});


// $("#myonoffswitch").trigger('click');
$('body').data('networkid',"{{current_user['School']['University']['$oid']}}");
</script>
{%end%}