{% extends "base.html" %}

<html>
<head>
	{%block scripts%}
		<link rel="stylesheet" href="/static/styles/me.css" type="text/css" />

	{%end%}

</head>
<body>
	{%block container%}

	<div id="container">
		<div id="left-side-bar">

		</div>
		<div id="Main-Content">
			<div id="user-data">
				<img src="/images?picid={{userdata['ProfileImg']}}" height="150" width="150">
				<div class="user-description">
					<h2>{{escape(userdata['FirstName']).capitalize()}} {{escape(userdata['LastName']).capitalize()}}</h2></br>
					<h3>{{escape(userdata['School']['Major'])}}, {{userdata['School']['GradYear']}}</h3>
					<p>About Me: {{escape(userdata['About'])}}</p>
				</br>
				{%from constants import * %}
				{%if userdata['UserStatus'] == UserStatus.USER_REQ%}
				<h3>Friend Requested</h3>
				{%end %}
				{%if userdata['UserStatus'] == UserStatus.USER_ACC%}
				<a id="friendaction" data-id="" data-userstatus="{{UserStatus.USER_ACC}}" href="#" onclick="sendRequest(this)">Accept Friend</a>
				{%end %}
				{%if userdata['UserStatus'] == UserStatus.USER_NEI%}
				<a id="friendaction" data-id="" data-userstatus="{{UserStatus.USER_NEI}}" href="#" onclick="sendRequest(this)">Send Friend Request</a>
				{%end %}
				<a href="Photos">Photos</a>
				<a href="friends">Friends</a>
				{%if userdata['UserStatus'] == UserStatus.USER_FRI%}
			</br>
				<a href="#" onclick="unfriend();return false;"><h6>Unfriend</h6></a>
				{%end%}
			</div>

		</div>
		<div class="clear"></div>
		{%if userdata['UserStatus'] == UserStatus.USER_FRI%}
		<div id="Status">
			<form onsubmit="post();return false;">
				<textarea id="status_text" class="status_box" type="text" name="status" ></textarea>
				<input class="status_button" type="submit" value="Post!">
			</form>
		</div>
		<div class ="clear"></div>
		<div id="Status-Feed">
				{%for post in feed%}
<!--  -->			{%if post['Wall']['FriendId'] != post['Wall']['UserId'] %}
						{%from actions import *%}
						{%set user = user_actions.get_simple_data(post['Wall']['FriendId'])%}
					{%else%}
						{%set user = userdata%}
					{%end%}

						<div id="Status-sec" data-postid={{post['Wall']['id']}} data-ownerid={{post['_id']}}>
							<div id="Votes">
								{%set color = 'gray'%}
								{% if post['Upvoted'] %}
								{%set color = 'orange'%}
								{%end%}
								<a  href="#" onclick="vote(this,'up');return false;" ><i style="color:{{color}};" class="icon-arrow-up"></i></a>
								<p>{{post['Wall']['Upvotes']-post['Wall']['Downvotes']}}</p>
								{%set color = 'gray'%}
								{% if post['Downvoted'] %}
								{%set color = 'orange'%}
								{%end%}
								<a href="#" onclick="vote(this,'down');return false;"><i style="color:{{color}};" class="icon-arrow-down"></i></a>
								<div class="clear"></div>

							</div>

							<div id="status-post">
															<a href="/user/{{post['UserName']}}"><img src="/images?picid={{str(post['ProfileImg'])}}" href="/user/{{post['UserName']}}" height="52" width="52"></a>
								<div class="status-info">
								<a class="Name" href="/user/{{post['UserName']}}">{{post['FirstName'].capitalize()}} {{post['LastName'].capitalize()}}</a></br>
								<p class="post">{% raw linkify(post['Wall']['Message'])%}</p>
								<a href="#" onclick="toggleReplies(this);return false;" style="float:left;background:white;font-size:11px;padding-top:10px;color:black;">Show Comments</a>
								<a href="#" onclick="displayReply(this);return false;"style="float:left;background:white;font-size:11px;padding-top:10px;color:black;padding-left:10px;">Reply</a>
								<p></p>
								</div>
							</div>

							<div class="clear"></div>
							<div id="reply-box" data-postid={{post['Wall']['id']}}  style="text-align:left;"> 
								<form>
									<textarea id="reply_text_id" class="reply_text"></textarea>
									<div >
										<a id="rep_link" onclick="reply(this);return false;" href="#">Reply</a>
										<a onclick="hideReply(this);return false;" href="#">Cancel</a>
									</div>
								</form>
							</div>
							{%block reply_sec%}

							{%end%}
							<div class="reply-sec" style= "padding-top:15px;font-size:75%;background:white;">

							</div>
						</div>
				{%end%}
		{%end%}
	</div>
</div>
{%end%}

</div>
{%block funcs%}

<script type="text/javascript">

function post(){
		
		{% from constants import * %}
		var message = $('#status_text').val();
		var posttype = parseInt({{PostType.WALL_POST}});
		console.log(posttype);
		$.ajax({
			  type: "POST",
			  url: '/user/{{userdata['UserName']}}',
			  data: { 'message' : message, 'posttype' : posttype},
			  success: function(){ 		var currpage = window.location.pathname;
		console.log(currpage);
		$('#status_text').val('');
		$('#Status-Feed').load('/user/{{userdata['UserName']}} #Status-Feed > *').hide().fadeIn('slow');
			  },
			  dataType: 'json'
			});


	
}

function sendRequest(element){
			var userstatus = $(element).data()['userstatus'];
			$.ajax({
			  type: "POST",
			  url: '/actions/respond_friend',
			  data: { 'Action' : 1, 'UserStatus' : userstatus , '_id' : "{{userdata['_id']}}"},
			  success: function(){ $('#Main-Content').load('/user/{{userdata['UserName']}} #Main-Content > *');
			  },
			  dataType: 'json'
			});
		
}
function capitaliseFirstLetter(string)
{
    return string.charAt(0).toUpperCase() + string.slice(1);
}

	function vote(ele,type){
		var postid = $(ele).closest('#Status-sec').data()['postid'];
		var ownerid = $(ele).closest('#Status-sec').data()['ownerid'];
		console.log(postid);
		var element = $(ele).closest('#Status-sec');
		var vote_type = "";
		var is_uni = !$('.onoffswitch-checkbox').is(':checked');
		if($('.onoffswitch-checkbox').length <= 0){
			is_uni = false;
		}
		console.log(is_uni);
		if(type == 'up'){
			vote_type = "up";
		}
		else{
			vote_type = "down";
		}
		$.ajax({
			  type: "POST",
			  url: '/actions/friend_vote',
			  data: { 'vote_type' : vote_type,'post_owner' : ownerid,'post_id' : postid,'is_reply' : "false",'is_uni' : is_uni},
			  success: function(){ 
			  			   	var checked = $('.onoffswitch-checkbox').is(':checked');
		if($('.onoffswitch-checkbox').length <= 0){
			checked = false;
		}
   		if(checked){
   			$("#Status-sec[data-postid='" + postid + "']").load("/user/{{userdata['UserName']}} #Status-sec[data-postid='" + postid + "'] > *").hide().fadeIn(700);

   		}
   		else{
   			$("#Status-sec[data-postid='" + postid + "']").load("/user/{{userdata['UserName']}} #Status-sec[data-postid='" + postid + "'] > *").hide().fadeIn(700);

   		

   		}
			  },
			  dataType: 'json'
			});

	}


function unfriend(){
	popup("Are you sure you want to unfriend {{escape(userdata['FirstName']).capitalize()}}?")
}

</script>
{%end%}

</body>
</html>