{% extends "index.html" %}

<html>
<head>
	{%block scripts%}
		<!-- <link rel="stylesheet" href="/static/styles/me.css" type="text/css" /> -->

	{%end%}

</head>
<body>
	{%block container%}

	<div id="container" class="user">
        {%module LeftSideModule(current_user['_id']['$oid'])%}

		<div id="content">
			<div id="user-data">
				<img src="/images?picid={{userdata['ProfileImg']}}" height="150" width="150">
				<div class="user-description">
					<h2>{{escape(userdata['FirstName']).capitalize()}} {{escape(userdata['LastName']).capitalize()}}</h2></br>
					<h3>{{escape(userdata['School']['Major'])}}, {{userdata['School']['GradYear']}}</h3>
					<p>About Me: {{escape(userdata['About'])}}</p>
				</br>
				{%from constants import * %}
				{%if userdata['UserStatus'] == UserStatus.USER_REQ%}
				<h3>Friend Requested</h3>
				{%end %}
				{%if userdata['UserStatus'] == UserStatus.USER_ACC%}
				<a id="friendaction" data-id="" data-userstatus="{{UserStatus.USER_ACC}}" href="#" onclick="sendRequest(this,'{{userdata['_id']}}')">Accept Friend</a>
				{%end %}
				{%if userdata['UserStatus'] == UserStatus.USER_NEI%}
				<a id="friendaction" data-id="" data-userstatus="{{UserStatus.USER_NEI}}" href="#" onclick="sendRequest(this,'{{userdata['_id']}}')">Send Friend Request</a>
				{%end %}
				<a href="photos">Photos</a>
				<a href="friends">Friends</a>
				{%if userdata['UserStatus'] == UserStatus.USER_FRI%}
			</br>
				<a href="#" onclick="unfriend();return false;"><h6>Unfriend</h6></a>
				{%end%}
			</div>

		</div>
		<div class="clear"></div>
		{%if userdata['UserStatus'] == UserStatus.USER_FRI%}

            <div id="status">
                <form action="#" onsubmit="post('{{userdata['_id']}}',$('#status_text').data('networkid'));return false;">
                    <textarea id="status-text" class="status-box" type="text" name="status" placeholder="Whatsup {{current_user['FirstName'].capitalize()}}?"></textarea>
                    <input class="status-button" type="submit" value="Post!" >
                </form>
            </div>

            <div id="status-feed">
                {%for post in feed%}
                    {%module PostModule(me,post,uniname,detailed=False)%}
                {%end%}

            </div>
        </div>
	{%end%}
</div>
{%end%}

</div>
{%block funcs%}

<script type="text/javascript">




function unfriend(){
	popup("Are you sure you want to unfriend {{escape(userdata['FirstName']).capitalize()}}?")
}


</script>
{%end%}

</body>
</html>