#content {
-moz-box-shadow:0 0 8px 0 #000;
-webkit-box-shadow:0 0 8px 0 #000;
background:#FFF;
border-radius:10px;
box-shadow:0 0 8px 0 #000;
float:left;
height:auto;
text-align:center;
width:70%;
}

#content #reply-sec {
text-align:left;
}

#status {
border-bottom:solid gray;
border-bottom-width:1px;
height:100px;
margin-left:auto;
margin-right:auto;
padding-bottom:-5px;
padding-top:15px;
}

#Status-sec {
background:#FFF;
border-bottom:solid orange;
border-bottom-width:0;
border-radius:0;
margin:0;
padding-bottom:10px;
padding-left:10px;
padding-top:10px;
text-align:left;
white-space:normal;
width:100%;
}

#Votes {
background:#FFF;
border-radius:5px;
float:left;
height:inherit;
margin-right:15px;
text-align:center;
text-decoration:none;
}

#Votes i {
color:gray;
padding:5px;
text-decoration:none;
}

#Votes i:hover,.sidebar li:hover {
color:orange;
}

#Votes p {
color:gray;
padding-left:5px;
padding-right:5px;
text-decoration:none;
}

#center-top-nav {
display:inline-block;
height:100%;
min-width:450px;
}

#container {
height:auto;
margin-top:100px;
min-width:1100px;
width:100%;
}

#dd:hover {
cursor:pointer;
}

#left-side-bar {
float:left;
height:100%;
min-width:168px;
width:15%;
}

#left-top-nav {
display:inline-block;
height:100%;
}

#loading {
bottom:50px;
position:absolute;
right:50px;
}

#logo {
height:inherit;
}

#logo img,object {
float:left;
padding-left:10px;
padding-top:5px;
}

#myonoffswitchpar {
-moz-user-select:none;
-ms-user-select:none;
-webkit-user-select:none;
float:right;
margin:5px;
position:relative;
width:129px;
}

#newclub {
display:none;
left:50%;
margin:-200px 0 0 -250px;
position:absolute;
top:50%;
}

#not {
display:inline-block;
position:relative;
}

#not-menu {
background-color:rgba(0,0,0,0.85);
border-radius:3px;
color:#fff;
font-family:tahoma, arial, sans-serif;
font-size:13px;
font-weight:700;
height:500px;
overflow-y:auto;
position:absolute;
white-space:normal;
width:250px;
z-index:99;
}

#not-menu-cont {
background-color:transparent;
border-color:blue;
border-radius:3px;
border-width:10px;
color:#fff;
display:none;
font-family:tahoma, arial, sans-serif;
font-size:13px;
font-weight:700;
height:500px;
margin-top:13px;
padding:2px;
position:absolute;
white-space:normal;
width:250px;
z-index:99;
}

#not-menu-cont:after {
border-color:transparent transparent rgba(0,0,0,.85);
border-style:solid;
border-width:0 10px 16px;
content:"";
height:0;
left:4px;
position:absolute;
top:-14px;
visibility:visible;
width:0;
z-index:1000;
}

#publicswpar {
-moz-user-select:none;
-ms-user-select:none;
-webkit-user-select:none;
margin:5px;
position:relative;
width:129px;
}

#reply-box {
display:none;
font-size:10px;
margin-left:115px;
padding-top:10px;
}

#reply-box textarea {
height:50px;
width:100%;
}

#search-area {
float:left;
margin:0;
padding-top:15px;
width:400px;
}

#search-area a,i,#subsidebar a,.sidebar a {
text-decoration:none;
}

#search-area input {
margin-right:0;
padding-right:0;
}

#status-post {
border-radius:5px;
}

#status-sec {
padding:10px;
}

#status-sec img {
display:inline-block;
float:left;
margin-right:10px;
margin-top:5px;
}

#status-sec p {
color:#000;
height:auto;
white-space:normal;
width:100%;
word-wrap:break-word;
}

#subsidebar {
margin-top:100px;
}

#subsidebar a:hover + .sidebar {
-moz-transition-delay:0;
-webkit-transition-delay:0;
opacity:1;
visibility:visible;
}

#subsidebar h3 {
-moz-box-shadow:0 0 4px 0 #000;
-moz-transition:margin .5s;
-webkit-box-shadow:0 0 4px 0 #000;
-webkit-transition:margin .5s;
background:#444;
border-radius:3px;
box-shadow:0 0 4px 0 #000;
color:#FFF;
margin:0 75px 10px 0;
padding:5px;
text-align:right;
text-decoration:none;
}

#subsidebar h3:hover {
-moz-transition:margin .5s;
-webkit-transition:margin .5s;
color:orange;
margin-right:20px;
}

#subsidebar:hover li {
visibility:visible;
}

#top-nav {
-moz-box-shadow:0 0 12px 0 #000;
-webkit-box-shadow:0 0 12px 0 #000;
background:#FFF;
box-shadow:0 0 12px 0 #000;
float:left;
height:55px;
margin:0;
min-width:900px;
position:fixed;
white-space:nowrap;
width:100%;
z-index:100;
}

#top-nav #right-top-nav {
display:inline-block;
margin-right:20px;
position:absolute;
right:5px;
}

#top-nav #right-top-nav .icon-globe {
background:#FFF;
color:#000;
position:relative;
}

#top-nav #right-top-nav .icon-globe:hover {
color:orange!important;
}

#top-nav a,#top-nav i,#top-nav ul a:hover {
background:#444;
}

#top-nav a:hover {
background:orange;
}

#top-nav span a,#top-nav span a:visited {
color:#FFF;
text-decoration:none;
}

#top-nav span a:hover {
background:orange;
color:#FFF;
text-decoration:none;
}

* {
font-family:Calibri;
margin:0;
padding:0;
}

.Name {
color:#000;
padding-top:3px;
text-decoration:none;
vertical-align:top;
}

.Name:hover {
text-decoration:underline;
}

.clear {
clear:both;
}

.minwidth {
min-width:600px;
width:auto!important;
}

.nav-bar {
color:#222;
display:inline-block;
padding-left:55px;
padding-right:5px;
padding-top:15px;
}

.nav-bar a,i {
border-radius:3px;
color:#FFF;
padding:5px;
text-decoration:none;
}

.not-item {
border-bottom:solid gray;
border-bottom-width:1px;
height:60px;
padding:5px;
position:relative;
}

.not-item img {
float:left;
margin-right:5px;
padding:5px;
}

.not-item span {
background-image:url(empty.gif);
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
z-index:1;
}

.not-item:hover {
background:#444;
cursor:pointer;
}

.notification-count {
background-color:red;
color:#fff;
font-family:tahoma, arial, sans-serif;
font-size:9px;
font-weight:700;
padding:2px;
position:absolute;
right:-4px;
top:-4px;
}

.post {
padding-top:10px;
}

.reply-sec {
display:none;
}

.search_box {
font-size:18px;
width:60%;
}

.sidebar {
-moz-transition:visibility 0 linear .5s .5s linear;
-webkit-transition:visibility 0 linear .5s .5s linear;
opacity:0;
text-align:right;
visibility:none;
}

.sidebar li {
background:#444;
border-radius:3px;
color:#FFF;
list-style-type:none;
margin:0 20px 3px 0;
padding:5px;
text-align:right;
text-decoration:none;
}

.sidebar:hover {
opacity:1;
visibility:visible;
}

.status-info {
display:inline-block;
float:left;
width:85%;
}

.status_box {
-moz-box-shadow:inset 2px 2px 2px 0 #ddd;
-webkit-box-shadow:inset 2px 2px 2px 0 #ddd;
box-shadow:inset 2px 2px 2px 0 #ddd;
font-size:18px;
height:inherit;
padding:7px 10px;
resize:none;
vertical-align:middle;
width:70%;
}

.status_button {
background:#444;
border-radius:5px;
border-style:solid;
border-width:small;
color:#FFF;
cursor:pointer;
font-size:18px;
margin-left:10px;
padding:5px;
vertical-align:middle;
}

.status_button:hover {
background:orange;
color:#FFF;
text-decoration:none;
}

body,html {
background-image:url(../images/hexellence.png);
height:100%;
overflow-x:hidden;
width:auto;
}