
* {
  margin: 0;
  padding: 0;
  font-family: Calibri;;
}
.clear {
    clear: both;
}

body ,html{
        min-width: 1100px;
        width: auto;
         overflow-x: hidden;
        background-image:url('../images/hexellence.png');
/*background-repeat:no-repeat;
background-size:cover;*/
/*background: rgb(68,68,68);*/
         /*background: rgb(68,68,68);*/
            /*background-image: -webkit-linear-gradient(left, rgb(54,52,52) 14%, rgb(163,163,163) 90%);*/
            


}

/*#background-grad{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -o-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, rgb(54,52,52)),
        color-stop(0.9, rgb(163,163,163))
        );
}*/

#top-nav {
    margin: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 55px;
    position: fixed;
    /* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 12px 0px #000000;
    -moz-box-shadow: 0px 0px 12px 0px #000000;
    box-shadow: 0px 0px 12px 0px #000000;
    /* Adds the transparent background */
/*    background: rgb(68,68,68);
    background-image: linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -o-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(54,52,52) 14%, rgb(163,163,163) 90%);
*/
/*    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, rgb(54,52,52)),
        color-stop(0.9, rgb(163,163,163))
        );*/
/*    background-image:url('../images/3040.jpg');
background-repeat:repeat-x;*/
float: left;
    min-width: 600px;
    white-space: nowrap;
    background: white;
    z-index: 100;
}
.minwidth { min-width:600px; width: auto !important; width: 600px; }
#left-top-nav{
    width: 15%;
    height: 100%;
 display: inline-block;
    float: left;

}
#center-top-nav{
    width: 55%;
    float: left;
        height: 100%;
         display: inline-block;

}
#right-top-nav{
    width: 30%;
 display: inline-block;
    height: 100%;
    float: left;
}
.nav-bar{
    display:inline-block;    
    padding-right: 5px;
    width: 100%;
    padding-top: 15px;
    padding-left: 55px;
    color: #222;

}
a{
/*  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .5s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property 
  transition:color .2s ease-out, background 1s ease-in;
  */
}

#reply-box{
    display: none;
    margin-left: 115px;
    padding-top: 10px;
    font-size: 10px;

}



#top-nav a{
    background: rgb(68,68,68);
}


.nav-bar a,i {
    padding: 5px 5px 5px 5px;
    text-decoration:none;
    color: white;
    border-radius: 3px;


}



#top-nav i{

    background: rgb(68,68,68);
}



#logo{
    /*padding-left: 25px;
    padding-top: 10px;*/
    height: inherit;
}


#logo img,object{
    float: left;
    padding-left: 10px;
    padding-top: 5px;

}
/*#logo h1 {
    padding-top: 20px;
    vertical-align: middle;
    font-size: 16px;
    color: black;
    width: auto;
    letter-spacing: 2px;
    display:inline-block; 

}*/
#top-nav span a{
    color: white;
    text-decoration:none;

}
#top-nav span a:visited{
    color: white;
    text-decoration:none;

}
#top-nav span a:hover{
    background: orange;
    color: white;
    text-decoration:none;

}

#container{
    margin-top: 100px;
    width: 100%;
}

#left-side-bar{
    float: left;
    width: 15%;
    height: 100%;


}
#Main-Content{


    float: left;
    width: 70%;
    height: auto;
    text-align: center;
    background: #707070;
    background: rgb(68,68,68);
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    border-radius: 10px;
    background: white;

}

#Status{
    padding-top: 15px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: -5px;

    border-bottom:solid gray;
    border-bottom-width:1px;
}
.status_box{

    width: 70%;
    font-size: 18px;
    height: inherit;
    vertical-align: middle;
    resize: none;
    padding: 7px 10px;
       -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;

}
.status_button{
    background: rgb(68,68,68);
    vertical-align: middle;
    color: white;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    border-style:solid;
    border-width:small;
    margin-left: 10px;
    border-radius: 5px;

}
.status_button:hover{
    color: white;
    background: orange;
    text-decoration:none;
}

.Name{
    color: black;
    vertical-align: top;
    text-decoration: none;
    padding-top: 3px;

}

.Name:hover{
    text-decoration: underline;
}

.post{
    /*font-size: 14px;*/
    padding-top: 10px;


}
#status-post{
    /*float: left;*/
    
    border-radius: 5px;
}

#Status-sec{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    border-bottom:solid orange;
    border-radius: 0px;
    border-bottom-width:0px;
    margin: 0;
    background: rgb(92,92,92);
    background: white;
    width: 100%;
    white-space: normal;


}

#status-sec{
    padding: 10px 10px 10px 10px;
}


#status-sec img{
    /*float:left;*/
    margin-right: 10px;
        display: inline-block;
    margin-top: 5px;
    float: left;

}
#status-sec p{
    color: black;
    width: 100%;
    /*overflow-x: auto;*/
    /*word-wrap: normal;*/
 /*   overflow-x:hidden;
white-space:nowrap;*/
height: auto;
word-wrap:break-word;
white-space: normal;
}

#Votes{
    float: left;
    /*padding-top: 5px;*/
    margin-right: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: white;
    text-align: center;
    height:inherit;
}

#Votes i{
    color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;

}

#Votes i:hover{
    color: orange;
}
#Votes p{
    color: gray;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}



#search-area{
    width: 400px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding-top: 15px;

}

#search-area input{
    margin-right: 0;
    padding-right: 0;

}
#search-area a,i{
    text-decoration: none;


}

.search_box{
    font-size: 18px;
    width: 60%;
}

.onoffswitch {
    position: relative; width: 129px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 5px 5px 5px 5px;
    float: right;
}

#top-nav a:hover{
    background: orange;
}

#top-nav ul a:hover {
    background: rgb(68,68,68);

}

#Main-Content #reply-sec{
    text-align: left;
    
}

#reply-box textarea{
    width: 100%;
    height: 50px;
}

#reply_text_id{

}

#top-nav #right-top-nav .icon-globe{
    color:black;
    background: white;
        position: relative;

}

#top-nav #right-top-nav .icon-globe:hover{
    color:orange !important; 
/*    -webkit-box-shadow: 0px 0px 3px 5px orange;
-moz-box-shadow: 0px 0px 3px 5px orange;
box-shadow: 0px 0px 3px 5px orange; */
}

#not{
    /*width: 50px;*/
    /*margin-right: 0;*/
    display: inline-block;
    position: relative;
}
.notification-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
}

#not-menu{
    position:absolute;
    /*display: none;*/
/*    top:-4px;
    right:-4px;*/
    background-color:rgba(0,0,0,0.85);;
    color:#fff;
    /*padding:2px;*/
    font-family:tahoma, arial, 'sans-serif';
    font-size:13px;
    font-weight:bold;
    
    width: 250px;
    height: 500px;
    z-index: 99;
    white-space: normal;
    border-radius: 3px;
    /*margin-top: 8px;*/
    overflow-y:auto;
    /*overflow-x: auto; */
}
#not-menu-cont{
    position:absolute;
    display: none;
/*    top:-4px;
    right:-4px;*/
    background-color:transparent;;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:13px;
    font-weight:bold;
    
    width: 250px;
    height: 500px;
    z-index: 99;
    white-space: normal;
    border-radius: 3px;
    border-width: 10px;
    /*border-style: solid;*/
    border-color: blue;
    margin-top: 13px;
    
    /*overflow-x: auto; */
}

#not-menu-cont:after{
    visibility: visible;
                content: "";
    z-index: 1000;
    width: 0;
    height: 0;
    position: absolute;
    top: -14px;
    left: 4px;
    /*margin-top: -3px;*/
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 10px 16px 10px;
/*border-radius: 5px;*/
border-color: transparent transparent rgba(0,0,0,.85) transparent;
}

.not-item{
    height: 60px;
    border-bottom:solid gray;
    border-bottom-width:1px;
    padding: 5px 5px 5px 5px;
    position: relative;

}

.not-item:hover{
    background: rgb(68,68,68);
    cursor: pointer;
}

.not-item p{
     
}

.sidebar {
    text-align: right;
    
    margin-top: 100px;
    /*position: fixed;*/
   
}

.sidebar:hover{

}
.sidebar li{
    text-decoration: none;
    color: white;
    background: rgb(68,68,68);
    /*padding-left: 50px;*/
    margin: 0;
    margin-bottom: 10px;
    /*margin-top: 200px;*/
    /*float: left;*/
    padding: 5px 5px 5px 5px;
    text-align: right;
    border-radius: 3px;
      -webkit-box-shadow: 0px 0px 4px 0px #000000;
    -moz-box-shadow: 0px 0px 4px 0px #000000;
    box-shadow: 0px 0px 4px 0px #000000;
    margin-right: 75px;
     -webkit-transition: margin .5s;
     -moz-transition: margin .5s;
}


.sidebar a{
    text-decoration: none;
}

.sidebar li:hover{
    color: orange;
    margin-right: 20px;
    -webkit-transition: margin .5s;
    -moz-transition: margin .5s;
    /*-webkit-transition: padding 2s;*/
    /*padding-left: 50px;*/
}
.not-item span{
position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');

}
.not-item img{
    float: left;
    padding: 5px 5px 5px 5px;
    margin-right: 5px ;
}

.status-info{
    display: inline-block;
    width: 85%;
    /*max-width: auto;*/
    float: left;
}

#newclub{
    display: none;
    position: absolute;
}