#Main-Content{
	color: gray;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

#Main-Content h1{
	font-size: 18px;
}

.result img{
	display: inline-block;
	/*vertical-align: middle;*/
	margin-right: 10px;
	/*margin-bottom: 10px;*/
}

.result2 img{
	display: inline-block;
	/*vertical-align: middle;*/
	margin-right: 10px;
	margin-bottom: 10px;
}

#sub-res{
	display: inline-block;
	/*vertical-align:middle;*/
}

.result,.result2{
	display: inline-block;
	padding: 10px 25px 10px 10px;
	width: 280px;
}

.result a,a:visited{
		color: black;

}

.result2 a,a:visited{
		color: black;

}